.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

header{
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: #373b69;
}


.search{
  background-color: transparent;
  border: 2px solid #22254b;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  color: white;
  
}



